#svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

.row {
    margin-left: 0 !important;
}

.graphHeader {
    color: white;
    background-color: black;
    margin-bottom: 10px !important;
}

.container-fluid.master-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 4rem;
}

.container-fluid.header-master-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container-fluid.jsmind-master-container {
    padding-right: 2% !important;
    padding-left: 2% !important;
}

.container-fluid.json-master-container {
    padding-left: 2% !important;
    padding-right: 2% !important;
}

#jsmind_container {
    overflow: hidden;
    width: 100%;
    height: 800px !important;
    background: url('https://jgraph.github.io/mxgraph/javascript/examples/editors/images/grid.gif');
    border: 1px solid black;
    margin-bottom: 10px !important;
}

#json-text-container {
    width: 100% !important;
    height: 600px !important;
}

hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: 0 !important;
}

hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}