---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../common
  - ../../global
  - ../../composites/network/sriov

    # adding a function at the type level
  # needs to be a folder
  - ../../functions/compute/c02

  - ./config/endpoints.yaml
  - ./config/service_accounts.yaml

patchesStrategicMerge:
  # changing a function at the type level
  # needs to be a file
  - functions/compute/c01/function.yaml
